<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/layout.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <title>Close Clothes</title>
</head>

<body>
    {{!-----------------------------------------------------------------------------------------------------------------------------------}}
    {{!---------------------------------------------------------- NAVBAR -----------------------------------------------------------------}}
    {{!-----------------------------------------------------------------------------------------------------------------------------------}}

    <nav class="navbar fixed-top nav-shadow">
        <a class="page-title decoration-none" href="/"><span class="first-half">Close</span><span
                class="second-half">Clothes</span></a>
        <div class="col-5 tool-bar-div">
            <a class="nav-font top-element decoration-none" href="/"><span class="first-half">Ho</span><span
                    class="second-half">me</span></a>
            <a class="nav-font top-element ml-3 decoration-none" href="/login"><span class="first-half">Log</span><span
                    class="second-half">In</span></a>
            <a class="nav-font top-element ml-3 decoration-none" href="/card"><span class="first-half">Ca</span><span
                    class="second-half">rd</span></a>
            <a class="nav-font ml-3 decoration-none" href="/about"><span class="first-half">Abo</span><span
                    class="second-half">ut</span></a>
        </div>
    </nav>

    {{!-----------------------------------------------------------------------------------------------------------------------------------}}

  {{{body}}}

      <footer>
        <div style="width: 100%;background: url('images/allDark.png') no-repeat;background-size: cover; margin-right: 0px;margin-left: 0px;"
            class="row">
            <div class="col">
                <p id="categ">Categories</p>
                <ul type=none id="footer-category">
                    <li><a href="/menDep">Men Fashion</a></li>
                    <li><a href="/womenDep">Women Fashion</a></li>
                    <li><a href="/kidsDep">Kids Fashion</a></li>
                    <li><a href="/babyDep">babies Fashion</a></li>
                </ul>
                <p style="color: gray; margin-left: 1vw; font-size: 1vw;">Copyright &#169; POULA ATEF 2020</p>
            </div>


            <div class="col">
                <p id="categ" style="display: block; margin: auto;">Subscribe Us</p>
                <div class="row">
                    <div class="col contact col-1" id="facebook">
                        <i class="fab fa-facebook coloredImage" id="faceColor"></i>
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div class="col contact col-1" id="whatsapp">
                        <i class="fab fa-whatsapp coloredImage" id="whatsColor"></i>
                        <i class="fab fa-whatsapp"></i>
                    </div>
                    <div class="col contact col-1" id="instagram">
                        <i class="fab fa-instagram coloredImage" id="instaColor"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                    <div class="col contact col-1" id="twitter">
                        <i class="fab fa-twitter coloredImage" id="twitColor"></i>
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="col contact col-1" id="youtube">
                        <i class="fab fa-youtube coloredImage" id="youColor"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>

        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="javascripts/layout.js">
    </script>
</body>

</html>